{% extends "base.html" %}

{% block content %}
<h2>All Runs</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Time (s)</th>
        <th>Date</th>
        <th>Video</th>
    </tr>
    {% for run in runs %}
    <tr>
        <td>
            <a href="{{ url_for('profile', user_id=run.user_id) }}">
                {{ run.username }}
            </a>
        </td>
        <td>{{ "%.2f"|format(run.time_seconds) }}</td>
        <td>{{ run.run_date.strftime("%d. %b %Y %H:%M") }}</td>
        <td><a href="{{ url_for('meter', run_id=run.run_id) }}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
